{% extends 'Teacher/teacherhome.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-xl-9">
 <div class="card mb-9">
     <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Teacher View
    </div>
    <div class="card-body">
        <table class="table">
  <thead>
    <tr>
       <th scope="col">SI No.</th>
       <th scope="col">Name</th>
       <th scope="col">Class</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email Id</th>
        <th scope="col">Update</th>
       <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for i in stud %}
    <tr>
      <th scope="row"> {{forloop.counter}}</th>
      <td> {{i.name}}</td>
      <td> {{i.Class}}</td>
      <td> {{i.contact_no}}</td>
      <td> {{i.email}}</td>
      <td><a href="{% url 'studentupdate' i.id %}"><button type="button" class="btn btn-primary">Update</button></a></td>
      <td><form action="{% url 'studentdelete' i.id %}" method="post">{% csrf_token %}
       <input type="hidden" name="teacher" value="{{i.id}}"/>
        <button type="submit" class="btn btn-danger">Delete</button></form></td>
    </tr>
  {% endfor %}
    </tbody>
</table>
    </div>
 </div>
</div>

{% endblock %}