{% extends 'Teacher/teacherhome.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="col-xl-9">
 <div class="card mb-9">
      <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Attendance
    </div>
    <div class="card-body">
        <table class="table">
  <thead>
    <tr>
       <th scope="col">SI No.</th>
       <th scope="col">Name</th>
       <th scope="col">Attendance</th>
    </tr>
  </thead>
  <tbody>
  {% for i in student %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.name}}</td>
      <td>
          <button type="button" class="btn btn-primary">
              <a href="{% url 'mark' i.id %}">Mark</a>
          </button></td>
         </tr>
  {% endfor %}
    </tbody>
</table>
    </div>
 </div>
</div>

{% endblock %}