{% extends 'ADMIN/adminhome.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="col-xl-9">
 <div class="card mb-9">
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Feedback Reply Form
    </div>
     <form method="post">
         {% csrf_token %}
    <div class="card-body">
        <div class="form-floating">
                <label>Reply</label>
  <textarea class="form-control" name = 'reply'></textarea>
            </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
     </form>
 </div>
</div>
{% endblock %}


